#ignore visual studio files
*.vcxproj*
*.sln
3d-ph*
.vs*

#ignore build and debug files
x64/
src/glad.c
dependencies/

# Ignore everything in the src folder
src/*

# But keep the .cpp files
!src/**/*.cpp
